<div id="app" class="container">
  <div class="form-group">
    <label>Email</label>
    <input v-model="userInfo.email" type="email" class="form-control" placeholder="sample@example.com">
  </div>
  <div class="form-group">
    <label>Tel</label>
    <input v-model="userInfo.tel" type="text" class="form-control" placeholder="0311112222">
    <span v-show="!validationTel">Telは数値で入力してください</span>
  </div>
  <button :disabled="isBlank" type="button" class="btn btn-info">Next</button>
  <span v-show="isBlank">未入力の項目があります</span>
</div>
